html{
  width:100%;
  height: 100%;
}

.list-group-item{
  background: transparent !important;
  color:white !important;
}

.list-group-item span{
  border:1px solid white !important;
  background: transparent !important;
}
.event-date{
position: relative;
right:40%;
}

.join{
  position: relative;
    left: 22%;
}

.row{
  margin-bottom: 7%;
}

input{
  color:white !important;
}
table td{
  text-align: center;
}

.show-text{
  color:black !important;
}

body{
  padding:200px 0 !important;
}

select{
  color:black !important;
}

span.date {
    display: block;
}

table th.goers{
  border-right:1px solid white;
}

p.destination{
  text-decoration: underline;
}

.friendsTrips {
    margin-top: 20%;
}

.modal-content {
  width: 129% !important;
  height: 213px !important;
  padding: 41px;
  margin-top: 64%;
}

.modal-content p{
  color: white;
    text-align: center;
}
input.show-text {
    width: 173px;
    margin-right: 10px;
}
.close.friends{
  position: relative;
left: 5%;
top: -26%;
}

.add-friend{
  position: relative;
left: 25%;
}
