html{
  width:100%;
  height: 100%;
}

.list-group-item{
  background: transparent !important;
  color:white !important;
}

.list-group-item span{
  border:1px solid white !important;
  background: transparent !important;
}
.event-date{
position: relative;
right:40%;
}

.join{
  position: relative;
    left: 22%;
}

.row{
  margin-bottom: 7%;
}

input{
  color:white !important;
}
table td{
  text-align: center;
}

.show-text{
  color:black !important;
}

body{
  padding:200px 0 !important;
}

select{
  color:black !important;
}
