
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Monstserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

body{
display: table;
width: 100%;
height: auto;
padding: 100px 0;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #f4f4f4;
background: url(/assets/images/sunset.jpg) no-repeat bottom center scroll;
background-color: #333333;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin:0 auto;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.6em;
}

a {
  color: white;
}

a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Monstserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-brand {
  font-weight: 700;
  font-size: 2.5em;
	color:white !important;
}

.navbar-brand:focus {
  outline: none;
}

.navbar-inverse a {
  color: white !important;
}

.navbar-inverse .nav li a {
  -webkit-transition: background 0s ease-in-out !important;
  -moz-transition: background 0.3s ease-in-out !important;
  transition: background 0.3s ease-in-out ;
}

.navbar-custom .nav li a:hover {
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #f4f4f4;
}


.navbar {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Monstserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar a{
	color:white !important;
}

nav{
	/*background: none !important;*/
    /*background-color: rgba(180,180,180,0.76);*/
	color:white !important;
	border:none !important;
}

.modal-header{
	color:white;
	text-align: center;
}
/*modal style*/
.modal-content{
 margin-top:100px;
	background-color: rgba(0,0,0,0.7)!important;
	border:2px solid rgba(87,84,57);
	height: 500px !important;
	color:black !important;
}
.close{
	    opacity:1 !important;
			color: white !important;
}
.modal-body{
		padding-left:89px !important;
}
input#eventbtn{
  color:white !important;
}
input#regbtn
 {
    margin-left: 27%;
}
input#loginbtn{
	margin-left:32%;
}

.modal-content.login{
	height: 300px !important;
}

label{
	display: inline;
}

h3{
  text-align: center;
}

.plan{
  color: white;
  font-size: 2em;
  position: relative;
  left: 41%;

}

table th{
  text-align: center;
}



#map{
	height: 500px;
	width: 100%;
}
.details {
	text-align: center;
	margin-top: 1em;
	/*border-bottom: 1px solid rgba(136, 136, 136, 0.76);*/
}
.four {
	margin: 0;
	padding: 1em;

}
.row {
	text-align: center;
}
.button {
	margin-top: 1em;
	float: right;
}

.w{
	padding: 30px 12px !important;
	width:115px !important;
	text-align: center;
	color:white !important;
	border-color: white !important;
}

.w1{
	background: url(/assets/images/snow.png) no-repeat center top;
	/*background-size: 200px;*/
}

.w2{
	background: url(/assets/images/rain.png) no-repeat center top;
	/*background-size: 200px;*/
}

.w3{
	background: url(/assets/images/sun1.png) no-repeat center top;
	/*background-size: 200px;*/
}

.w4{
	background: url(/assets/images/drizzle.png) no-repeat center top;
	background-size: 40px;
}

.w5{
	background: url(/assets/images/fog.png) no-repeat center top;
	/*background-size: 200px;*/
}
.form-event{
  border: 1px solid white;
  padding: 26px 35px;
}
.alert.alert-success.alert-dismissible {
    color: white;
    border: darkgray;
    background: linear-gradient( 364deg, black, darkgray );
}
.alert{
	margin-bottom: 5px !important;
}
/*Weather Forecast*/
.deets {
    width: 100%;
    padding-top: 1em;
    /*background: rgba(180,180,180,0.1);*/
    border-radius: 4px;
}
.deetsImgs {
    /*margin-top: -2em;*/
    margin-bottom: 0.5em;
}
.deetsImgs img {
    height: 40px;
}
.split {
    vertical-align: top;
    display: inline-block;
}
.split h5 {
    margin-top: -1.5em;
}
.trip {
    margin-top: 1em;
    margin-bottom: 0.75em;
}
.trip .plan a {
    border: 1px solid rgba(180,180,180,0.7);
    padding: 3px 1em;
    border-radius: 4px;
}


input.phone {
    width: 50px;
    margin: 0 5px;
}

input.pickDateNewEvent {
    color: black !important; /*rgba(97, 97, 97, 0.65)*/
}

.friend_select {
    width: 10em;
}

input.inviteFriends {
    padding-left: 1em;
    padding-right: 1em;
}
