label{
	display: inline;
}
img{

}

#map{
	height: 500px;
	width: 100%;
}
.details {
	text-align: center;
	margin-top: 1em;
	/*border-bottom: 1px solid rgba(136, 136, 136, 0.76);*/
}
.four {
	margin: 0;
	padding: 1em;

}
.row {
	text-align: center;
}
.button {
	margin-top: 1em;
	float: right;
}
